*.iml
.gradle/
/local.properties
/.idea/
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
.android-sdk/
.tools/
.kotlin/
/local-process/
/tmp/
__pycache__/
*.pyc
*.apk
*.aab
*.jks
*.keystore
/keystore.properties
.DS_Store
Thumbs.db
